{% extends 'base.html' %}

{% block content %}
<form id="reg-form" class="form-horizontal" action="/reg" method="POST">
  <div class="control-group">
    <label class="control-label" for="reg-name">שם</label>
    <div class="controls">
      <input type="text" class="blue" id="reg-name" name="name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="reg-email">אימייל</label>
    <div class="controls">
      <input type="text" class="pink" id="reg-email" name="email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="reg-org">ארגון</label>
    <div class="controls">
      <input type="text" class="blue" id="reg-org" name="org">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="reg-updates">עדכונים</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" id="reg-updates" name="updates" value="yes" checked="checked">
        <span class="checkbox-text">אני מעוניינ/ת לקבל עדכונים למייל אודות מפלגת הפיראטים</span>
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="reg-submit"></label>
    <div class="controls">
      <input type="submit" name="submit" class="btn btn-inverse" value="שלח/י">
    </div>
  </div>
</form>
{% endblock %}
