{% extends 'base.html' %}

{% block content %}
<div class="span4 offset2 error-content">
  {% if error == 'dupe' %}
  <h1>ארעה שגיאה</h1>
  <h2>בקשתך לא התקבלה</h2>
  <span>כתובת אימייל זו משוייכת כבר לבקשת הרשמה</span>
  <a href="/" class="btn">חזרה</a>
  {% elif error == 'blank' %}
  <h1>ארעה שגיאה</h1>
  <h2>נא למלא את כל השדות</h2>
  <a href="/" class="btn">חזרה</a>
  {% else %}
  <h1>בקשתך התקבלה</h1>
  <h2><a href="https://www.facebook.com/events/433054020078295/">לעמוד האירוע בפייסבוק</a></h2>
  {% endif %}
</div>
{% endblock %}
